<nav class="navbar navbar-default" v-bind:class="{'navbar-inverse' : inverted}">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Slack Visitor</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                  <a href="https://github.com/simon0191/slack-visitor" target="_blank">Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
